<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'clockx/css/styles.css' %}">
    <title>Clockx xTime</title>
</head>
<body>
    <div id="wrapper">
        <center>
            <div id="curr">
            <p>The current time and date:</p>
            </div><!--closes curr-->
        
            <div id="display">
                <h1> {{time}} </h1>
            </div><!--closes display-->
        </center>
    </div><!--closes wrapper-->
</body>
</html>